@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --black-black: #000;
  --black-dark: #0D0D0D;
  --white-smooth: #f5f5f5;
  --grey-dark: #595959;
  --grey-good: #8f8f8f;
  --grey-smooth: #1E1E1E;
}
* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--white-smooth);
  text-decoration: none;
}
body, html {
  background-color: var(--black-black);
}
.chart {
  background-color: var(--black-dark);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.chart_infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}
.chart_infos_title {
  font-size: 18px;
  font-weight: 600;
}
.dashboard_charts {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 48px;
}
.dashboard {
  display: grid;
  grid-template-columns: 65% 30%;
  grid-column-gap: 5%;
  margin: 32px;
}
.card, .card-git {
  background-color: var(--black-dark);
  border-radius: 6px;
  padding: 24px 32px;
}
.card_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.card_title > span {
  color: var(--grey-dark);
}
.card_update{
  color: var(--grey-good);
  font-size: 14px;
}
.card_databox {
  display: grid;
  grid-auto-rows: 32px;
  grid-row-gap: 18px;
  margin-top: 24px;
}
.card_databox_data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_databox_data_icon {
  background-color: var(--grey-smooth);
  border-radius: 50%;
  padding: 7px;
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  margin-right: 11px;
}
.card_databox_data_text {
  font-size: 18px;
  font-weight: 600;
}
.card_databox_data_text > span {
  font-weight: 400;
}
.dashboard_infos_cardcontainer {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 48px;
}
.card_statusbox_status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}
.card_statusbox_status_icon {
  background-color: #C72E2E;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin: 4px 10px 4px 4px;
  animation: status-glow 1s ease-in-out infinite alternate;
}
.card_statusbox_status_text {
  font-size: 14px;
}
.card_logbox {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 24px;
  grid-row-gap: 18px;
}
.card_logbox_log {
  display: flex;
  flex-direction: column;
}
.card_logbox_log_title {
  font-size: 14px;
}
.card_logbox_log_date {
  font-size: 10px;
  color: var(--grey-good);
}
.card-git {
  background-color: var(--black-dark);
  border: 2px solid #4571E3;
  box-shadow: 0px 0px 12px rgba(69, 113, 227, 0.15), inset 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #4571E3;
  padding: 8px;
  border-radius: 4px;
  margin-top: 24px;
}
.card_button:hover {
  background-color: #2A5AD7;
}
.card_button_icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.noanimation {
  animation: none !important;
}


@-webkit-keyframes status-glow {
  from {
    box-shadow: 0px 0px 8px rgba(71, 210, 102, 0);
  }
  to {
    box-shadow: 0px 0px 8px rgba(71, 210, 102, 0.75);
  }
}












.charts {
  display: grid;
  grid-template-columns: 50% 50%;
}
